.movie-card {
    display: inline-block;
    background-color: lightskyblue;
    max-width: 240px;
    max-height: 419px;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

.ratings-container {
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
}

/* TODO: Find way to shrink text if overflow. */
.movie-title {
    overflow: hidden;
    white-space: nowrap;
    /* word-wrap: break-word; */
    /* text-overflow: ellipsis; */
    /* display: block; */
    /* line-height: 1.5em; */
    /* max-height: 2em; */
    /* font-size: 1em; */
}

.img-card {
    min-width: 220px;
    min-height: 330px;
}

.rate-icon {
    cursor: pointer;
}