.movie-card {
    display: inline-block;
    max-width: 240px;
    max-height: 419px;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

.ratings-container {
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
}

.movie-title {
    overflow: hidden;
    white-space: nowrap;
}

.img-card {
    min-width: 220px;
    min-height: 330px;
    border: solid black 1px;
}

.rate-icon {
    cursor: pointer;
}