#no-results {
  margin-top: 5rem;
  font-size: xx-large;
}

#search-field {
  margin-left: 10px;
}

#search-form{
  width: auto;
  display: flex;
  justify-content: center;
  margin: 4em;
}

#submit-container {
  margin-left: 10px;
}