.App {
  text-align: center;
}

body {
  background: lightgray;
}

ul {
  list-style-type: none;
}

.home-intro {
  size: 2em;
}

#clip-loader {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}